body {
  margin: 0;
  padding: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-noto-sans-jp: "Noto Sans JP";
  --font-zen-kaku-gothic-new: "Zen Kaku Gothic New";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-sm: 14px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-burlywood-100: rgba(254, 188, 155, 0.5);
  --color-burlywood-200: rgba(254, 188, 155, 0.2);
  --color-darkslategray: #192b2a;
  --color-darkgray: #444444;
  --color-gray: #3b1800;
  --color-coral: #f37947;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-3xs: 10px;
  --gap-8xl: 27px;
  --gap-xs: 12px;
  --gap-84xl: 103px;
  --gap-20xl: 39px;
  --gap-32xl: 51px;
  --gap-9xs: 4px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-13xl: 32px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-8xs: 5px;
  --padding-12xl: 31px;
  --padding-30xl: 49px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-7xl: 26px;
  --padding-10xs: 3px;
  --padding-38xl: 57px;
  --padding-36xl: 55px;
  --padding-20xl: 39px;
  --padding-9xl: 28px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-4xl: 23px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-41xl: 60px;
}

/* header css */
header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-company-logo {
  display: flex;
  align-items: center;
}

.header-company-logo img {
  vertical-align: top;
  margin-right: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--color-darkgray);
  font-family: var(--font-noto-sans-jp);
  font-size: 13px;
  font-weight: bold;
  padding: 0 40px;
}

.nav-separator {
  width: 1px;
  height: 14px;
  background-color: #777;
  font-weight: bold;
  margin: 0;
}

.header-contact img {
  vertical-align: top;
}

.header-footer {
  line-height: 0;
  font-size: 0;
  z-index: 999;
}

.header-footer img {
  width: 100%;
  height: auto;
  display: block;
}

/* footer css */
footer {
  position: relative;
  width: 100%;
  padding: 0;
  background-image: url('../image/footer_orange_gradation.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 60px 5px 60px;
}

.footer-top {
  display: flex;
  align-items: flex-start;
}

.footer-company-logo {
  margin-right: 20px;
}

.footer-company-logo img {
  vertical-align: top;
}

.footer-nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-menu li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-nav-menu li:last-child {
  margin-top: 10px;
  margin-bottom: 0;
}

.footer-nav-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-family: var(--font-noto-sans-jp);
  font-size: 13px;
  font-weight: bold;
}

.footer-separator {
  width: 1px;
  height: 14px;  /* この高さは調整可能です */
  background-color: #ffffff;
  margin-right: 10px;
  display: inline-block;
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 35%;
}

.footer-contact {
  margin-top: 10px;
}

.footer-contact img {
  max-width: 400px;
  height: auto;
}

.footer-copyright {
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: var(--font-noto-sans-jp);
  font-size: 12px;
  margin-top: 10px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-company-logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-nav-menu {
    align-items: center;
  }

  .footer-contact-container {
    align-items: center;
  }

  .footer-contact img {
    max-width: 80%;
  }
}

/* スマホ用のスタイル */
@media (max-width: 480px) {
  body {
    font-size: 14px;
    line-height: 1.5;
  }
  
  header .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  
  .header-company-logo img {
    width: 100px;
  }
  
  .header-company-logo span {
    font-size: var(--font-size-lg);
  }

  .footer-area {
    padding: 50px 5%;
  }

  .footer-area .contact img {
    width: 10vw;
  }

  .footer-area .contact h1 {
    font-size: 5vw;
  }

  .footer-area .contact .right-arrow {
    font-size: 10vw;
  }

  .footer-area ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-area ul li {
    padding: 10px 0;
    font-size: var(--font-size-lg);
  }

  .footer-company-logo img {
    width: 10vw;
  }

  .footer-company-logo span {
    font-size: var(--font-size-lg);
  }
}

