/* top-image-area css */
div.top-image-area {
  background-image: url("../image/airplane_new.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

div.top-image-area div.top-message {
  padding: 10% 10%;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}

/* service-summary-area css */
div.service-summary-area {
  background-color: rgba(255, 188, 155, 0.2);
  padding: 50px 20px; /* 縦の余白を短く */
}

div.service-summary-area div.container-area {
  display: flex;
  justify-content: space-between;
}

div.service-summary-area div.container-1,
div.service-summary-area div.container-2 {
  flex-basis: 45%;
}

div.service-summary-area div.container-1 h3 {
  color: #febc9b;
  margin: 0px;
  font-size: 1.4vw;
}

div.service-summary-area div.container-1 h1 {
  margin: 10px 0px;
  font-size: 3vw;
  color: #f37947;
}

div.service-summary-area div.service-name {
  font-size: 1.5vw;
  color: #f37947;
}

div.service-summary-area div.short-description {
  margin: 15px 0px;
  font-size: 1.3vw;
}

div.service-summary-area div.long-description {
  margin-bottom: 20px; /* 縦の余白を短く */
  font-size: 1vw;
  line-height: 2em;
}

div.service-summary-area a.view-more-button {
  display: inline-block;
  background-color: #f89a6f;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px 15px 40px; /* ボタンのパディングを小さく */
  border-radius: 30px;
  font-size: 1.2vw; /* ボタンのフォントサイズを小さく */
}

div.service-summary-area div.container-2 img {
  width: 100%;
}

/* member area */
div.member {
  padding: 50px;
}

div.member h3 {
  color: #cccccc;
  margin: 0px;
  font-size: 1.4vw;
}
div.member h1 {
  margin: 10px 0px;
  color: #999999;
  font-size: 3vw;
}

div.member div.container-area {
  display: flex;
  justify-content: space-between;
}

div.member div.container-1 {
  flex-basis: 30%;
}

div.member div.container-1 img {
  width: 100%;
}

div.member div.container-2 {
  flex-basis: 60%;
}

div.member div.container-2 h2.post, 
div.member div.container-2 h2.name-alphabet {
  color: #999999;
  margin: 0px;
  font-size: 1.2vw; /* フォントサイズを小さく */
}

div.member div.container-2 h1.name {
  color: #000000;
  margin: 0px;
  font-size: 2vw; /* フォントサイズを大きく */
}

div.member div.container-2 div.career {
  margin-top: 20px;
  font-size: 1.25vw;
}

/* company-summary-title css */
div.company-summary-title {
  padding: 20px 50px;
}

div.company-summary-title h3 {
  color: #cccccc;
  margin: 0px;
  font-size: 1.4vw;
}
div.company-summary-title h1 {
  margin: 10px 0px;
  color: #999999;
  font-size: 3vw;
}

/* company-summary-content css */
div.company-summary-content {
  margin: 0px 0px 100px 100px;
  width: 1000px;
}

div.company-summary-content div {
  padding: 20px 0px;
}

div.company-summary-content hr {
  background-color: #e5e7eb;
  height: 2px;
  border: none;
}

/* footer css */
footer {
  background-image: url("../image/footer_orange_gradation.png");
  background-repeat: no-repeat;
  background-size: cover;
}

div.footer-area {
  padding: 50px 5% 25px; /* 余白を短く */
  color: #ffffff;
}

div.footer-area hr {
  background-color: #ffffff;
  height: 3px;
  border: none;
}

div.footer-area .contact {
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
  align-items: center;
}

div.footer-area .contact img {
  width: 5vw;
}

div.footer-area a {
  text-decoration: none;
  color: #ffffff;
}

div.footer-area .contact h1 {
  font-size: 3vw;
}

div.footer-area .contact .right-arrow {
  font-size: 5vw;
}

div.footer-area ul {
  display: flex;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

div.footer-area ul li {
  padding-right: 100px;
  font-size: 1.75vw;
}

div.footer-area div.footer-company-logo {
  display: flex;
  margin-top: 25px; /* 余白を短く */
  font-size: 1.5vw;
  align-items: center;
}

div.footer-area div.footer-company-logo img{
  width: 3vw;
}
div.footer-area div.footer-company-logo span{
  padding-left: 15px;
  font-size: 1.5vw;
}

/* nav-menu css */
ul.nav-menu li {
  padding-right: 50px; /* 文字間の間隔を近づける */
}

/* スマホ用のスタイル */
@media (max-width: 480px) {
  ul.nav-menu li {
    padding-right: 20px; /* スマホ用の文字間の間隔を近づける */
  }
}

@media (max-width: 480px) {
  .top-image-area .top-message {
    font-size: 4vw;
    padding: 20px;
  }

  .service-summary-area .container-area {
    flex-direction: column;
    align-items: center;
    text-align: center; /* 追加: 中央揃えにする */
  }

  .service-summary-area .container-1,
  .service-summary-area .container-2 {
    width: 100%;
    flex-basis: 100%;
    padding: 10px; /* 追加: パディングを追加して余白を作る */
  }

  .service-summary-area img {
    width: 100%;
    height: auto; /* 追加: 画像の高さを自動調整 */
  }

  .member .container-area {
    flex-direction: column;
    align-items: center;
    text-align: center; /* 追加: 中央揃えにする */
  }

  .member .container-1,
  .member .container-2 {
    width: 100%;
    flex-basis: 100%;
    padding: 10px; /* 追加: パディングを追加して余白を作る */
  }

  .company-summary-content {
    width: 90%;
    margin: 0 auto;
  }

  .company-summary-content div {
    padding: 10px 0;
  }

  .footer-area {
    padding: 25px 5% 10px; /* 余白を短く */
  }

  .footer-area .contact img {
    width: 20vw;
  }

  .footer-area .contact h1 {
    font-size: 5vw;
  }

  .footer-area .contact .right-arrow {
    font-size: 10vw;
  }

  .footer-area ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-area ul li {
    padding: 10px 0;
    font-size: var(--font-size-lg);
  }

  .footer-company-logo {
    margin-top: 10px; /* 余白を短く */
  }
}
