/* service-top-image */
div.service-top-image img {
  display: block;
  padding-top: 48px;
  width: 100%;
}

/* service-summary-area css */
div.service-summary-area {
  background-color: rgba(255, 188, 155, 0.2);
  padding: 5% 0;
  margin: 0;
}

div.service-summary-area div.container-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.service-summary-area div.container-1,
div.service-summary-area div.container-2 {
  flex-basis: 45%;
}

div.service-summary-area div.container-1 {
  padding-left: 5.5%;
}


div.service-summary-area div.service-name {
  margin: 5px 0px 7.5px 0px;
  font-size: 2.75vw;
  color: #f37947;
  font-weight: bold;
}

div.service-summary-area div.short-description {
  font-size: 1.3vw;
  color: #555555;
  font-weight: bold;
}

div.service-summary-area div.long-description {
  margin-bottom: 5px;
  font-size: 1vw;
  line-height: 2em;
  color: #555555;
  font-weight: 500;
}

div.service-summary-area div.container-2 img {
  width: 100%;
}


/* speak-mind-can css */
div.speak-mind-can {
  margin: 100px auto;
  width: 90%;
}

div.speak-mind-can h1{
  color: #777777;
  font-size: 3vw;
  font-weight: bold;
}

div.speak-mind-can .container-area {
  display: flex;
  justify-content: space-between;
}

div.speak-mind-can .container {
  width: 30%;
}

div.speak-mind-can img {
  width:100%;
}

div.speak-mind-can h2 {
  color: #f37947;
  text-align: center;
}

div.speak-mind-can .detail {
  font-size: 18px;
}

/* speak-mind-feature css */
div.speak-mind-feature {
  background-color: rgba(212, 249, 242, 0.3);;
}

div.speak-mind-feature > h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 8%;
}

div.speak-mind-feature .container-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  
}

div.speak-mind-feature .container {
  display: inline-block;
  margin-bottom: 50px;
  padding: 20px;
  width: 40%;
  background-color: white;
}

div.speak-mind-feature img {
  width: 100%;
}

div.speak-mind-feature div.description {
  margin-top: 10px;
}

/* speak-mind-user-voice css */
div.speak-mind-user-voice {
  margin: 50px auto;
  padding: 50px 0px;
  width: 90%;
  background-color: rgba(255, 188, 155, 0.2);
  border-radius: 30px;
}

div.speak-mind-user-voice > h1 {
  margin-left: 5%;
}

div.speak-mind-user-voice div.container-area {
  margin: 0px 10%;
}

div.speak-mind-user-voice div.container {
  display: flex;
  margin-bottom: 50px;
}

div.speak-mind-user-voice div.user-image-big {
  flex-basis: 30%;
}

div.speak-mind-user-voice div.user-image-big img {
  display: block;
  margin: auto;
  width: 250px;
}

div.speak-mind-user-voice div.user-image-small {
  flex-basis: 5%;
}

div.speak-mind-user-voice div.user-image-small img {
  width: 100%;
  max-width: 100px;
  min-width: 50px;
}


div.speak-mind-user-voice div.description {
  flex-basis: 65%;
}

div.speak-mind-user-voice  h3.user-profile {
  margin: 5px 0px 0px;
}

div.speak-mind-user-voice  h3.voice-title {
  color: #f37947;
  margin: 5px 0px 0px;
}

div.speak-mind-user-voice .triangle {
  width: 30px;
  background-color: #ffffff;
  clip-path: polygon(0 50%, 30% 100%, 100% 100%);
}

div.speak-mind-user-voice ul {
  margin: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

div.speak-mind-user-voice li {
  padding: 8px;
}

/* introduction-flow css */
div.introduction-flow {
  margin: 100px auto;
  width: 90%;
}

div.introduction-flow div.container-area-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.introduction-flow div.container-area-2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

div.introduction-flow div.container-1,
div.introduction-flow div.container-3,
div.introduction-flow div.container-5,
div.introduction-flow div.container-7 {
  flex-basis: 20%;
}

div.introduction-flow div.container-2,
div.introduction-flow div.container-4,
div.introduction-flow div.container-6 {
  flex-basis: 5%;
  color: #f37947;
  font-size: 100px;
}

div.introduction-flow img {
  width: 100%;
}

div.introduction-flow h3.title {
  color: #f37947;
  margin: 10px 0px;
}

/* frequently-asked-questions css */
div.frequently-asked-questions {
  margin: 100px auto;
  width: 90%;
}

div.frequently-asked-questions div.container-area {
  background-color: rgba(255, 188, 155, 0.2);
  border-radius: 30px;
  padding: 100px 100px;
}

div.frequently-asked-questions div.question {
  display: flex;
  align-items: center;
}

div.frequently-asked-questions div.question h1{
  padding-left: 30px;
  margin: 0px;
}

div.frequently-asked-questions hr {
  background-color: rgba(254, 188, 155, 0.5);
  height: 3px;
  border: none;
  margin-bottom: 10px;
}

div.frequently-asked-questions div.answer {
  margin-bottom: 50px;
}


/* スマホ用のスタイル */
@media (max-width: 480px) {
  .speak-mind-can .container-area,
  .speak-mind-feature .container-area,
  .speak-mind-user-voice .container-area,
  .introduction-flow .container-area-1,
  .introduction-flow .container-area-2 {
    flex-direction: column;
    align-items: center;
  }

  .speak-mind-can .container,
  .speak-mind-feature .container,
  .speak-mind-user-voice .container,
  .introduction-flow .container-1,
  .introduction-flow .container-3,
  .introduction-flow .container-5,
  .introduction-flow .container-7,
  .introduction-flow .container-2,
  .introduction-flow .container-4,
  .introduction-flow .container-6 {
    width: 100%;
    flex-basis: 100%;
  }

  .frequently-asked-questions .container-area {
    padding: 50px 20px;
  }

  .frequently-asked-questions .question h1 {
    font-size: var(--font-size-lg);
  }
}
